* {
    margin: 0;
    padding: 0;
}

.container {
    width: 95vw;
    font-family: sans-serif;
    margin: 50px 0;
}

.product {
    width: 50%;
    border: 5px solid black;
    padding: 5px;
    position: relative;
    margin: auto;
}

.header {
    text-align: center;
    text-transform: uppercase;
    background-color: rgb(240, 240, 240);
    padding: 10px 0;
}

.product-img {
    width: 15vw;
    margin-top: 10px;
}

.price {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}

.shipping {
    font-size: 12px;
    text-transform: uppercase;
    color: rgb(100, 100, 100);
    font-weight: bold;
    margin-top: 10px;
}

.description {
    margin-top: 10px;
}

.more-info:link {
    display: inline-block;
    margin-top: 10px;
}

.more-info:visited {
    color: black;
}

.more-info:active {
    text-decoration: none;
}

.more-info:hover {
    text-decoration: none;
}

.box {
    border: 1px solid black;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-top: 10px;
}

.box-black {
    background-color: black;
}

.box-blue {
    background-color: blue;
}

.box-red {
    background-color: red;
}

.box-yellow {
    background-color: yellow;
}

.box-green {
    background-color: green;
}

.box-brown {
    background-color: brown;
}

.product-details {
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 10px;
}

.details-list {
    margin: 5px 0 0 20px;
    list-style: square;
    line-height: 25px;
}

.add-cart {
    color: white;
    background-color: black;
    border: 1px solid black;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    padding: 10px;
    display: block;
    width: 100%;
}

.add-cart:hover {
    cursor: pointer;
    color: black;
    background-color: white;
}

.sale {
    color: white;
    background-color: rgb(205, 0, 0);
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    display: inline;
    padding: 5px 10px;
    position: absolute;
    top: -15px;
    left: -30px;
}

.footer {
    margin-top: 10px;
    text-align: center;
}
