* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    color: #444444;
    border: 5px solid #1098ad;
    padding: 10px;
}

.container {
    width: 700px;
    margin: 0 auto;
}

.main-header {
    background-color: #f7f7f7;
    padding: 20px 40px;
    margin-bottom: 20px;
}

h1,
h2,
h3 {
    color: #1098ad;
}

h1 {
    font-size: 26px;
    text-transform: uppercase;
    font-style: italic;
}

h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

h3 {
    font-size: 30px;
    margin-bottom: 20px;
}

h4 {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

nav a:link {
    display: inline-block;
    margin: 20px 20px 0 0;
}

nav a:link:last-child {
    margin-right: 0;
}

p {
    font-size: 22px;
    line-height: 1.5;
    margin-bottom: 15px;
}

ul,
ol {
    margin-left: 30px;
}

li {
    font-size: 20px;
    margin-bottom: 10px;
}

/* Descendant combinator */
/* footer p {
    font-size: 14px;
    text-align: center;
} */

#copyright {
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}

#author {
    font-style: italic;
}

.author-img {
    border: 2px solid #808080;
}

.post-img {
    width: 700px;
    border: 2px solid #ff0000;
    margin-bottom: 20px;
}

.related-img {
    width: 100px;
    height: 100px;
    border: 2px solid #daa520;
}

.related-author {
    font-size: 18px;
    font-weight: bold;
}

.related-ul {
    list-style-type: none;
}

.related-aside {
    background-color: #f7f7f7;
    border-top: 5px solid #1098ad;
    border-bottom: 5px solid #1098ad;
    padding: 20px 0;
    width: 500px;
}

/*Pseudo-classes*/
li:first-child {
    font-weight: bold;
}

li:last-child {
    font-style: italic;
}

/*
li:nth-child(even) {
    color: #ff0000;
}
*/

a:link {
    color: #1098ad;
    text-decoration: none;
}

a:visited {
    color: #1098ad;
}

a:hover {
    color: orangered;
    font-weight: bold;
    text-decoration: underline solid orangered;
}

a:active {
    background-color: black;
    font-style: italic;
}
