/*
Spacings (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

Font sizes(px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

Font weights:
 - Default: 400

Line heights
 - Default: 1

Colors
- Primary: ##e67e22
- Tints:
- Shades:
- Greys:

Shadows

Border radius

Whitespaces

*/

:root {
    --primary-color: #e67e22;
    --base-gray-color: #555;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* 
        Default browser font-size: 16px 
        Setting for our web page: 10px / 16px = 0.625
        Setting the font-size to 10px makes it easier to use the rem unit
    */
    font-size: 62.5%;
}

body {
    font-family: sans-serif;
    line-height: 1;
    font-weight: 400;
    color: var(--base-gray-color);
}
