* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.box {
    width: 5rem;
    height: 5em;
    border: 2px solid black;
}
