* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    margin: 1em;
}

.product {
    width: 50vw;
    border: 5px solid black;
    margin: 1em;
    padding: 1em;
    position: relative;
}

.product-title {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    background-color: #f0f0f0;
    padding: 10px 0;
    margin-bottom: 10px;
}

.uppercase {
    text-transform: uppercase;
}

.product-container {
    display: flex;
    gap: 5em;
    margin-bottom: 20px;
}

.price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.left-container {
    margin-top: 20px;
    flex: 1;
}

.right-container {
    margin-top: 20px;
    flex: 1;
}

.product-img {
    width: 15vw;
    margin-bottom: 10px;
}

.price {
    font-size: 2em;
    font-weight: bold;
}

.shipping {
    font-size: 1.2em;
    color: #777;
}

.sale {
    background-color: red;
    color: white;
    display: inline-block;
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 10px 20px;
    position: absolute;
    top: -25px;
    left: -50px;
}

.product-description {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.more-info:link {
    font-size: 1.2em;
    display: inline-block;
    margin-bottom: 50px;
}

/* .more-info:visited {
    color: black;
} */

.more-info:hover {
    text-decoration: none;
}

.more-info:active {
    text-decoration: none;
}

.box-container {
    display: flex;
    gap: 20px;
}

.box {
    width: 2em;
    height: 2em;
}

.box-black {
    background-color: black;
}

.box-blue {
    background-color: blue;
}

.box-red {
    background-color: red;
}

.box-yellow {
    background-color: yellow;
}

.box-green {
    background-color: green;
}

.box-brown {
    background-color: brown;
}

.details-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
}

.details-list {
    font-size: 1.2em;
    line-height: 1.5em;
    margin-left: 1em;
    list-style-type: square;
}

.add-cart {
    background-color: black;
    color: white;
    border: 2px solid black;
    font-size: 1.5em;
    font-weight: bold;
    width: 100%;
    padding: 10px 0px;
    cursor: pointer;
    margin-bottom: 10px;
}

.add-cart:hover {
    background-color: white;
    color: black;
}

.footer {
    font-size: 1.2em;
    text-align: center;
}
