* {
    margin: 0;
    padding: 0;
}

.container {
    font-family: sans-serif;
    background-color: rgb(220, 220, 220);
    border: 1px solid black;
    font-size: 30px;
    margin: 10px;
    /* padding: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.el {
    /* Defaults:
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto; */

    flex: 0 1 auto;
}

.el-1 {
    background-color: blueviolet;
}

.el-2 {
    background-color: orangered;
}

.el-3 {
    background-color: green;
    height: 150px;
}

.el-4 {
    background-color: goldenrod;
}

.el-5 {
    background-color: palevioletred;
    align-self: flex-start;
}

.el-6 {
    background-color: steelblue;
}

.el-7 {
    background-color: yellow;
    align-self: flex-end;
}

.el-8 {
    background-color: crimson;
}
